<div class="container">
  <h1>Customer Basic Verification</h1>
  <form [formGroup]="userForm" (ngSubmit)="submit()">
    <div>
      <label for="phone">Mobile Number:</label>
      <div class="error" *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
        <small *ngIf="userForm.get('phone')?.errors?.['required']">Mobile Number is required.</small>
        <small *ngIf="userForm.get('phone')?.errors?.['pattern']">Mobile Number is invalid.</small>
      </div>
      <input type="tel" id="phone" formControlName="phone"  maxlength="10" pattern="[0-9]*" inputmode="numeric">
    </div>
    <div>
      <label for="email">Email:</label>
      <div class="error" *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
        <small *ngIf="userForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="userForm.get('email')?.errors?.['email']">Enter a valid email.</small>
      </div>
      <input type="email" id="email" formControlName="email">
    </div>

    <div>
      <label for="panCard">Pan Number:</label>
      <mat-error class="error" *ngIf="userForm.get('panCard')?.touched && userForm.get('panCard')?.invalid">
        <small *ngIf="userForm.get('panCard')?.errors?.['required']">PAN is required.</small>
        <small *ngIf="userForm.get('panCard')?.errors?.['pattern']">Invalid PAN format (ABCDE1234F).</small>
      </mat-error>
      <input type="text" id="panCard" formControlName="panCard">
    </div>

    <button type="submit" [disabled]="!userForm.valid">Verify</button>
    <button type="reset" (click)="reset()">Reset</button>
  </form>
  <ng-container>
    <div *ngFor="let country of countries">
      <span>{{country.id}} {{country.name}} {{country.code}} {{country.continent}}</span>
    </div>
  </ng-container>
</div>
